<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916648429815-d7gf47u2sp16lqjttjfqm4dc2lbcvhbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916648429815-d7gf47u2sp16lqjttjfqm4dc2lbcvhbh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916648429815-51ut1hs1vgommtjgtjlctodntfqgk3pd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfqxq7LzqkxSOLbkpzRdLUof5GW0qIYZs</string>
	<key>GCM_SENDER_ID</key>
	<string>916648429815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genSoportes</string>
	<key>PROJECT_ID</key>
	<string>bluetoothri505</string>
	<key>STORAGE_BUCKET</key>
	<string>bluetoothri505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916648429815:ios:aef3d40f33fd49fb5c6bf2</string>
	<key>DATABASE_URL</key>
	<string>https://bluetoothri505.firebaseio.com</string>
</dict>
</plist>